@model DojoStudent

<div class="container">
    <h1>Submitted Info</h1>
    <h3>Name: @Model.Name</h3>
    <h3>Dojo Location: @Model.Location</h3>
    <h3>Favorite Language: @Model.Language</h3>
    <h3>Comment: @Model.Comment</h3>
</div>
