@{
    ViewData["Title"] = "Home Page";
}
@model User

<div class="text-center">
    <h1 class="display-4">Enter your information</h1>
    <form asp-action="create" asp-controller="Home" method="post">
        <span asp-validation-for="FirstName"></span>
        <label asp-for="FirstName">First Name: </label>
        <input type="text" asp-for="FirstName">
        <span asp-validation-for="LastName"></span>
        <label asp-for="LastName">Last Name: </label>
        <input type="text" asp-for="LastName">
        <span asp-validation-for="Age"></span>
        <label asp-for="Age">Age: </label>
        <input type="number" asp-for="Age">
        <span asp-validation-for="Email"></span>
        <label asp-for="Email">Email: </label>
        <input type="email" asp-for="Email">
        <span asp-validation-for="Password"></span>
        <label asp-for="Password">Password: </label>
        <input type="password" asp-for="Password">
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>
